{#
    Displays a sidebard module with information about organizations.
  
    group_type    - The type of organization.
  
    Example:
  
    {% snippet "organization/snippets/helper.html", group_type=group_type %}
  
    #}
  
  
  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle"></i>
      {{ _('As Nossas Organizações') }}
    </h2>
    <div class="module-content">
      <p>
        {% trans %}
        Este portal agrega dados de fontes ligadas ao município do Porto. As organizações identificam as fontes desses dados.
        {% endtrans %}
      </p>
    </div>
  </div>