<a href="{{datasets_url}}/dataset/?vocab_category=Administração+Pública+e+Serviços" title="">
    <img class="group-icon"
        src="{{h.url_for_static('/css/icons-groups/AdministracaoPublicaeServicosSVG_blue.svg')}}" alt="administracao">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Ambiente" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/AmbienteSVG_blue.svg')}}"
        alt="ambiente">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Economia" title="">
    <img class="group-icon"
        src="{{h.url_for_static('/css/icons-groups/ComercioSVG_blue.svg')}}" alt="atividade-economica">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Cultura+e+Lazer" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/CulturaPatrimonioSVG_blue.svg')}}"
        alt="cultura">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Desporto" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/DesportoSVG_blue.svg')}}"
        alt="desporto">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Educação+e+Ciência" title="">
    <img class="group-icon"
        src="{{h.url_for_static('/css/icons-groups/EduCieSVG_blue.svg')}}" alt="educacao-e-ciencia">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Informação+de+Base" title="">
    <img class="group-icon"
        src="{{h.url_for_static('/css/icons-groups/Turismo LazerSVG_blue.svg')}}" alt="turismo-e-lazer">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Mobilidade+e+Infraestruturas" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/MobilidadeInfraestruturasSVG_blue.svg')}}"
        alt="infraestruturas-e-mobilidade">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Proteção+Civil+e+Segurança" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/SegProtSocSVG_blue.svg')}}"
        alt="protecao-civil-e-seguranca">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Saúde+e+Ação+Social" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/SaudeSVG_blue.svg')}}"
        alt="saude-e-acao-social">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Sociedade" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/SociedadePopulacaoSVG_blue.svg')}}"
        alt="sociedade">
</a>
<a href="{{datasets_url}}/dataset/?vocab_category=Urbanismo+e+Edificado" title="">
    <img class="group-icon" src="{{h.url_for_static('/css/icons-groups/UrbanismoTerritorioSVG_blue.svg')}}"
        alt="urbanismo-e-edificado">
</a>